.lessonBreakContainer {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 10px;
  margin-left: 20px;
  border: 0;
  padding-left: 30px;
  border-left: 2px solid #000;
  border-style: dashed;
  text-align: left;
  font-size: 18px;
  zoom: 90%;
}
