#root {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

.App {
  min-height: 99%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

footer {
  flex: 1;
}

:where(.css-dev-only-do-not-override-zzxjdm).ant-timeline
  .ant-timeline-item-head {
  background-color: transparent !important;
}
